<h1>New Article</h1>

<%= form_with model: @article do |form| %>
  <% if @article.errors.any? %>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :category %>
    <%= form.select :category, Article::CATEGORIES %>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to "Back", articles_path %>