<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rails Blog Demo</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav>
      <%= link_to raw('<span>Rails</span> Blog Demo'), root_path, class: "brand" %>
      <div class="nav-links">
        <%= link_to "Articles", articles_path %>
        <%= link_to "New Article", new_article_path %>
      </div>
    </nav>

    <div class="container">
      <% if notice %>
        <div class="flash notice"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="flash alert"><%= alert %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
